<div class="author-container">
  <h2>Add Author</h2>
  
  <form [formGroup]="authorForm" (ngSubmit)="addAuthor()">
    
    <div class="form-group">
      <label for="name">Author Name:</label>
      <input id="name" formControlName="name" required placeholder="Enter author name..."/>
    </div>

    <div class="form-group">
      <label for="place">Place:</label>
      <input id="place" formControlName="place" required placeholder="Enter author place..."/>
    </div>

    <button type="submit" [disabled]="authorForm.invalid">Submit</button>
  </form>
</div>
