<div class="main">
<div class="container">
  <h2>Books List</h2>

  <input type="text" placeholder="Search Book by Name..." [(ngModel)]="searchText" (input)="filterBooks()" />

  <table *ngIf="filteredBooks.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of filteredBooks">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.genere }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="filteredBooks.length === 0 && searchText.length > 0" class="no-books">No Books found</p>
<br>
  <a routerLink="/add-book">Add Book</a>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="books.length > 0">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let book"> {{ book.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let book"> {{ book.name }} </td>
    </ng-container>

    <ng-container matColumnDef="genere">
      <th mat-header-cell *matHeaderCellDef> Genre </th>
      <td mat-cell *matCellDef="let book"> {{ book.genere }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let book">
        <button mat-button color="primary" (click)="editBook(book.id)">Edit</button>  
        <button mat-button color="warn" (click)="deleteBook(book.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
<a routerLink="/home">BackToMain</a>
</div>
