

<div class="component-container">
 


    <!-- <h1 class="text-3xl font-bold mb-4">Library Management</h1> -->
    <div class="button-container">
      <button routerLink="/authors">Manage Authors</button>
      <button routerLink="/books">Manage Books</button>
    </div>
    <!-- <div [ngStyle]="{'background-image': file:///home/tharun.m/Downloads/abstract-blurred-public-library-interior-space-blurry-room-with-bookshelves-by-defocused-effect-use-for-background-or-backdrop-in-abstract-blurred-publicbusiness-or-education-concepts-generative-ai-photo.jpg}">
   
    </div> -->

</div>
  
  