<div class="container">
  <h2>Edit Book</h2>
  
  <form [formGroup]="bookForm" (ngSubmit)="updateBook()" class="edit-form">
    
    <label>Book Name:</label>
    <input type="text" formControlName="name" required />

    <label>Genre:</label>
    <input type="text" formControlName="genere" required />

    <label>Author:</label>
    <select formControlName="authorId">
      <option *ngFor="let author of authors" [value]="author.id">
        {{ author.name }}-{{author.id}}
      </option>
    </select>

    <div class="button-group">
      <button type="submit" class="update-btn" [disabled]="bookForm.invalid">Update Book</button>
      <button class="cancel-btn" routerLink="/books">Cancel</button>
    </div>

  </form>

  <a routerLink="/add-book" class="back-link">Back</a>
</div>
